body {
    background-color: rgb(121, 187, 209);
}

div {
    display: block;
    margin-left: 50%;
    margin-right: 50%;
    align-items: center;
    padding: 5px;
}
input {
    width : 50px;
    display: block;
}
#main_button {
    display: block;
    align-items: center;
    width: 50%;
}